* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
}
ul,
li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.main {
  padding: 6.4rem 0 0;
}
